<div class="card">
  <p-toast />
  <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
          <p-button
              severity="success" 
              label="New" 
              icon="pi pi-plus" 
              class="mr-2" 
              (onClick)="openNew()" />
          <p-button
              severity="danger" 
              label="Delete" 
              icon="pi pi-trash" 
              (onClick)="deleteSelectedBuildings()" 
              [disabled]="!selectedBuildings || !selectedBuildings.length" />
      </ng-template>
  </p-toolbar>