<!-- <div mat-dialog-content style="text-align: center">
  <image-cropper
    [ngStyle]="{ 'max-width.px': data.max_image_width }"
    [imageBase64]="data.imageBase64"
    [maintainAspectRatio]="
      !data.maintainAspectRatio ? true : data.maintainAspectRatio
    "
    [aspectRatio]="data.aspectRatio"
    [format]="data.format"
    (imageCropped)="imageCropped($event)"
    output="base64"
  ></image-cropper>
</div>
<mat-dialog-actions align="end">
  <button tabindex="-1" mat-stroked-button mat-dialog-close>
    {{ "Close" | translate }}
  </button>
  <span class="spacer"></span>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    (click)="doneCropping()"
  >
    {{ "Done Cropping" | translate }}
  </button>
</mat-dialog-actions> -->
<div>
  <div class="p-dialog-header custom-header">
    <div class="flex justify-between items-center flex-row">
      <div>
        {{ "Crop Image" | translate }}
      </div>
      <div>
        <i
          (click)="dynamicDialogRef.close()"
          class="pi pi-times cursor-pointer text-xl"
        ></i>
      </div>
    </div>
  </div>
  <div>
    <!-- <image-cropper
      [ngStyle]="{ 'max-width.px': dynamicDialogConfig.data?.max_image_width }"
      [imageBase64]="dynamicDialogConfig.data?.imageBase64"
      [maintainAspectRatio]="dynamicDialogConfig.data?.maintainAspectRatio!"
      [aspectRatio]="dynamicDialogConfig.data?.aspectRatio!"
      [format]="dynamicDialogConfig.data?.format!"
      (imageCropped)="imageCropped($event)"
      output="base64"
    ></image-cropper> -->
  </div>
  <div class="p-dialog-footer custom-footer py-4">
    <div class="flex justify-end">
      <p-button
        pRipple
        [outlined]="true"
        [label]="'Close' | translate"
        (onClick)="dynamicDialogRef.close()"
      ></p-button>
      <p-button
        pRipple
        [label]="'Save' | translate"
        (onClick)="doneCropping()"
      ></p-button>
    </div>
  </div>
</div>
